allennlp==0.9.0
asr-evaluation==2.0.4
audioread==2.1.8
chardet==3.0.4
edit-distance==1.0.3
editdistance==0.5.3
kaldi-io==0.9.0
kenlm==0.0.0
librosa==0.6.3
opencc-python-reimplemented==0.1.4
resampy==0.2.1
SoundFile==0.10.1
TextGrid==1.4
